.container {
  max-width: 440px;
}

.navbar-inverse {
  max-width: 440px;
}

.btn {
  margin: 5px;
}

.markedAsDone {
  text-decoration: line-through;
  color: #777;
}

.tableActions {
  width: 105px;
}

.todoForm {
  padding-bottom: 60px;
}

.floatable {
  position: fixed;
  width: 100%;
  margin-left: -15px;
  margin-top: -40px;
}

.page-center{
  padding-top: 40px;
}

.right-side {
  float: right;
}

.nav {
  float: left;
  padding-top: 5px;
}

.nav li {
  float: left;
  width: 75px;
}

nav li a {
  color: #fff;
}
.nav>li>a:focus, .nav>li>a:hover {
  text-decoration: underline;
  background-color: transparent;
  color: #fff;
}
